<ion-content [fullscreen]="true">

  <div class="topo">
  </div>
  <ion-img src="/assets/logo-login.png"></ion-img>
 
    <p>Sistema de Gerenciamento de Livros</p>
  
  <form> 
    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
   
  </form>
  <ion-button expand="block" (click)="logar()" >Entrar</ion-button>
  <ion-button expand="block" fill="outline" (click)="registrar()">Registrar-se</ion-button>
</ion-content>

